{% extends "layout.html" %}
{% block body %}
 {% if session.logged_in %}
   {% if entries %}
        <table class="hovertable">
            <tr>
                <th>待办内容</th>
                <th>是否完成</th>
                <th>创建时间</th>
            </tr>
            {%  for entry in entries %}
             <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">

                 <td>{{ entry.task }}</td>
                 <td>{{ entry.finish}}</td>
                   <td>{{ entry.createtime}}</td>
            </tr>
                  {% endfor %}
        </table>
   {% else %}
       <em> No todos so far</em>
   {% endif %}
    </br>

    <form action="{{ url_for('add_todo') }}" method='POST' class=add-entry>
   <dl>
    <dt>添加一个待办事项:
    <dd><textarea name=text rows=5 cols=40></textarea>
    <dd><input type=submit value=ADD>
   </dl>
  </form>

 {% else %}
    <em>session expired , please log in</em>
<!--<form action="{{ url_for('show_entries') }}" method='POST' class=add-entry>
   <dl>
    <dt>Title:
    <dd><input type=text size=30 name=title>
    <dt>Text:
    <dd><textarea name=text rows=5 cols=40></textarea>
    <dd><input type=submit value=Share>
   </dl>
  </form>-->
 {% endif %}

{% endblock %}